html,body{
    background: #eee;
  }
  *{
    margin: 0;
    padding: 0;
    /* color: #333; */
    box-sizing: border-box;
    font-family: PingFangSC-Light,helvetica,'Heiti SC';
  }
  .tabBarWrap{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 98px;
  }
  .tabBar{
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .32rem;
    border-top: 1px solid #d9d9d9;
    background: white;
    
  }
  .item{
    color: #333;
    text-decoration-line: none;
    width: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .item.active span{
    color: #b5262d;
  }
  .item.active .index{
    background-position-y: -200px;
  }
  .item.active .category{
    background-position-y: -100px;
  }
  .item.active .buy{
    background-position-y: -300px;
  }
  .item.active .cart{
    background-position-y: -0px;
  }
  .item.active .personal{
    background-position-y: -400px;
  }
  .item i {
    width: 40px;
    height: 40px;
    background-image: url("../../static/images/xuebi.webp");
    background-size: 40px;
  }
  .item .index{
    background-position-y: -250px;
  }
  
  .item .category{
    background-position-y: -150px;
  }
  .item .buy{
    background-position-y: -350px;
  }
  .item .cart{
    background-position-y: -50px;
  }
  .item .personal{
    background-position-y: -450px;
  }